<ul>
		<% @projects.each do |project| %>
			
			<li> Title: <%= project.name %>
			<br>
			 Priority: <%= project.priority %>
			 <br>
			 Content: <%= project.description %>
			 <br>
			 <%= link_to("Delete", project_path(project), method: :delete )%>
			 </li>
			 <br>
		<%end%>
</ul>

