<h3> Title: <%= @project.name %> </h3>

<h4>Time spent on this project: <%= @methods.add_time(@entries) %></h4>
<br>
<br>

<h5> List of Entries </h5>

<% @entries.each do |entry| %>
			
	<li> <%= "#{entry.hours} h, #{entry.minutes} m. Date: #{entry.date.strftime("%A, %b %d")}.   Comments: '#{entry.comments}'" %>
		<%= link_to("Delete", entry_path(entry), method: :delete )%>
	</li>
	<br>
<%end%>
