<html>
	<head>
      <title>AudioVideo</title>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  <link rel="stylesheet" href="av.css">


<body>
<div class="bodyButton">
	<h2 class="white">AdioVideo</h2>
	<button class="btn btn-primary" id="addVideo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add Video&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
	<button class="btn btn-primary" id="timeCounter" type="button">&nbsp;Time Watched:&nbsp;<span class="badge">0</span>&nbsp;
</button>
</div>
<div class="bodyVideo">
	<video alt="New York Times Square Time Lapse Panorama video" controls  class="ng-scope myVideo" id="thisVideo" src="http://i.istockimg.com/video_passthrough/63386781/153/63386781.mp4" type="video/mp4"></video>
</div>

	  <script type="text/javascript" src="av.js"></script>

</body>
</html>





<!--  http://i.istockimg.com/video_passthrough/77685649/153/77685649.mp4
 http://i.istockimg.com/video_passthrough/77680201/153/77680201.mp4
 -->