
<html>
<link rel="stylesheet" type="text/css" href="task_index.css">
	<h1>Add a Task</h1>
	<form action="/adding_new_task" method="POST">
		<p> </p><p></p>
	  <input type="text" name="new_task" > --
	  <button type="submit">ADD</button>
	</form>
</html>

