<h1>Pokédex</h1>
<!-- List of pokemon -->
<ul class="pokedex-list">
 
  <% @pokemon.each do |pkmn| %>
  <li>
    <button class="js-show-pokemon btn btn-link"
    data-pokemon-uri="<%= pkmn["resource_uri"] %>">
    <%= pkmn["name"] %>
    </button>
  </li>
  <% end %>
</ul>
<!-- Pokemon modal view (hidden at first) -->
<div class="modal fade pokemon-modal">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">
        <span>&times;</span>
        </button>
        <h3 class="modal-title">
        <span class="titleSpan">NAME</span>
        <small>NUMBER</small>
        <span class="spanButton">
        </span>
        </h3>
        </div><!-- .modal-header -->
        <div class="modal-body">
          
              <dl class="dl-horizontal attributes">
                <dt>ATTRIBUTE</dt>
                <dd>VALUE</dd>
              </dl>
              
          </div>
        <div class="image">
        </div>
        </div><!-- .modal-body -->
        </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
        </div><!-- .modal -->






