<form action="/trying_again" method="POST">
	<button type="submit">TRY DIFFERENT QUESTION</button>
</form>

<p></p>
<p></p>

<form action="/changing_title" method="POST">
	<button type="submit">TRY DIFFERENT MOVIES</button>
</form>
